body {
  background-color: #160254;
}
input {
  background-color: #beb0a7;
  border: 0px;
  padding: 8px;
  margin: 5px 5px 5px 0px;
}

.header {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  grid-row: 1/2;
  grid-column: 1/4;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 0.2fr 1fr 2fr 2fr;
}

.filter {
  display: grid;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  width: fit-content;
  height: fit-content;
}

.tile {
  display: grid;
  width: 200px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.tile h2 {
  font-size: 18px;
  margin: 5px 0;
}

.tile p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.tile .price {
  font-weight: bold;
  color: #e91e63;
}
.counter {
  background-color: #6a7b76;
  color: #ffffff;
  padding: 10px;
  border-radius: 10%;
}

.product-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 2 / span 3;
}

.loadAndCounter {
  display: flex;
  grid-column: 2/3;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.sort {
  display: grid;
  grid-column: 3/4;
  justify-content: center;
  grid-row: 2/3;
  gap: 2px;
  height: fit-content;
  position: relative;
}

.sort:hover .sort-menu {
  display: block;
}

.sort-menu button {
  margin: 2px;
}

@media screen and (max-width: 767px) {
  .grid-container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 0.05fr 0.03fr 0.1fr 0.01fr;
  }

  .tile {
    width: 100%; /* Make the tiles full width on small screens */
    height: auto; /* Allow height to adjust automatically */
  }

  .filter {
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr; /* Single column layout for filter */
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 2;
    grid-row: 2 / span 1;
  }

  .product-grid {
    grid-row: 3;
    padding-top: 10px;
    width: 100%; /* Make the product grid full width on small screens */
    grid-template-columns: 1fr;
    grid-template-rows: auto; /* Allow rows to adjust automatically */
  }

  .loadAndCounter {
    grid-column: 2;
    grid-row: 5;
  }

  .sort {
    grid-column: 1;
    grid-row: 2;
    margin: auto;
  }

  .sort-menu {
    margin: 0;
  }

  .sort-menu button {
    margin: 2px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .filter {
    width: 40%;
    grid-column: 1;
    grid-row: 2 / span 1;
  }

  .product-grid {
    width: 40%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .loadAndCounter {
    grid-column: 2;
    grid-row: 5 / span 1;
  }

  .sort {
    grid-column: 1;
    grid-row: 2;
    margin-top: 40vh;
    margin-right: 82px;
  }

  .sort-menu {
    margin: auto;
    padding: 10px;
  }

  .sort-menu button {
    margin: 2px;
  }
}
